### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [72]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [73]:
purchase_data_rename_df = purchase_data.rename(columns={"Purchase ID":"Players"})

purchase_data_rename_df.head()

,Players,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [85]:
player_count = purchase_data_rename_df[["Players"]].count()
player_count

Players    780
dtype: int64

## Purchasing Analysis (Total)

* DONE - Run basic calculations to obtain number of unique items, average price, etc.


* DONE - Create a summary data frame to hold the results


* DONE - Optional: give the displayed data cleaner formatting


* DONE - Display the summary data frame

In [86]:
unique_items = purchase_data_rename_df["Item Name"].nunique()
print(unique_items)
average_price = purchase_data_rename_df["Price"].mean()
print(average_price)
id_names = purchase_data_rename_df["SN"].nunique()
print(id_names)

179
3.050987179487176
576

In [87]:
summary_calcs = [{"Unique Items Sold": unique_items, "Average Price": average_price,
                  "Number of Different Purchasers": id_names}]
summary_calcs_df = pd.DataFrame(summary_calcs)
summary_calcs_df

   Unique Items Sold  Average Price  Number of Different Purchasers
0                179       3.050987                             576

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [96]:
male_gender = purchase_data_rename_df.loc[purchase_data_rename_df["Gender"] == "Male"]
male_gen_total = male_gender[["Players"]].count()
print(male_gen_total)

female_gender = purchase_data_rename_df.loc[purchase_data_rename_df["Gender"] == "Female"]
female_gen_total = female_gender[["Players"]].count()
print(female_gen_total)

other_gender = purchase_data_rename_df.loc[purchase_data_rename_df["Gender"] == "Other / Non-Disclosed"]
other_gen_total = other_gender[["Players"]].count()
print(other_gen_total)

Players    652
dtype: int64
Players    113
dtype: int64
Players    15
dtype: int64

In [93]:
gender_count = purchase_data_rename_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [97]:
male_perc = (male_gen_total / player_count) * 100
print(male_perc)

female_perc = (female_gen_total / player_count) * 100
print(female_perc)

other_perc = (other_gen_total / player_count) * 100
print(other_perc)

Players    83.589744
dtype: float64
Players    14.487179
dtype: float64
Players    1.923077
dtype: float64

In [113]:
summary_genders = [{"Male": male_gen_total.sum(), "Female": female_gen_total.sum(), "Other / Non-Disclosed": other_gen_total.sum()} 
                   {"Male": male_perc.sum(), "Female": female_perc, "Other / Non-Disclosed": other_perc}]
summary_genders_df = pd.DataFrame(summary_genders)
summary_genders_df

SyntaxError: invalid syntax (<ipython-input-113-5ebc186e05b4>, line 2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame