### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [74]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count - QUESTION 1**

* DONE - Display the total number of players

In [75]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [76]:
purchase_data_rename_df = purchase_data.rename(columns={"Purchase ID":"Players"})

purchase_data_rename_df.head()

,Players,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [77]:
#ANSWER 1**
player_count = purchase_data_rename_df[["Players"]].count()
player_count

Players    780
dtype: int64

## Purchasing Analysis (Total) - QUESTION 2**

* DONE - Run basic calculations to obtain number of unique items, average price, etc.


* DONE - Create a summary data frame to hold the results


* DONE - Optional: give the displayed data cleaner formatting


* DONE - Display the summary data frame

In [78]:
unique_items = purchase_data_rename_df["Item Name"].nunique()
print(unique_items)
average_price = purchase_data_rename_df["Price"].mean()
print(average_price)
id_names = purchase_data_rename_df["SN"].nunique()
print(id_names)

179
3.050987179487176
576

In [79]:
#ANSWER 2**
summary_calcs = [{"Unique Items Sold": unique_items, "Average Price": average_price,
                  "Number of Different Purchasers": id_names}]
summary_calcs_df = pd.DataFrame(summary_calcs)
summary_calcs_df

   Unique Items Sold  Average Price  Number of Different Purchasers
0                179       3.050987                             576

## Gender Demographics - QUESTION 3**

* DONE - Prcentage and Count of Male Players


* DONE - Percentage and Count of Female Players


* DONE - Percentage and Count of Other / Non-Disclosed

In [80]:
male_gender = purchase_data_rename_df.loc[purchase_data_rename_df["Gender"] == "Male"]
male_gen_total = male_gender[["Players"]].count()
print(male_gen_total)

female_gender = purchase_data_rename_df.loc[purchase_data_rename_df["Gender"] == "Female"]
female_gen_total = female_gender[["Players"]].count()
print(female_gen_total)

other_gender = purchase_data_rename_df.loc[purchase_data_rename_df["Gender"] == "Other / Non-Disclosed"]
other_gen_total = other_gender[["Players"]].count()
print(other_gen_total)

Players    652
dtype: int64
Players    113
dtype: int64
Players    15
dtype: int64

In [81]:
gender_count = purchase_data_rename_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [82]:
male_perc = ((male_gen_total / player_count) * 100).sum()
print(male_perc)

female_perc = ((female_gen_total / player_count) * 100).sum()
print(female_perc)

other_perc = ((other_gen_total / player_count) * 100).sum()
print(other_perc)

83.58974358974359
14.487179487179489
1.9230769230769231

In [83]:
#ANSWER 3**
summary_genders = [{"Male": male_gen_total.sum(), "Female": female_gen_total.sum(), "Other / Non-Disclosed": other_gen_total.sum()}, 
                   {"Male": male_perc.round(), "Female": female_perc.round(), "Other / Non-Disclosed": other_perc.round()}]
summary_genders_df = pd.DataFrame(summary_genders)
summary_genders_df.index = ['Total Players','Percentage of Players']
summary_genders_df

                        Male  Female  Other / Non-Disclosed
Total Players          652.0   113.0                   15.0
Percentage of Players   84.0    14.0                    2.0


## Purchasing Analysis (Gender) - QUESTION 4**

* DONE - Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* DONE - Create a summary data frame to hold the results


* DONE  - Optional: give the displayed data cleaner formatting


* DONE - Display the summary data frame

In [84]:
gender_groupdata = purchase_data_rename_df.groupby("Gender")
gender_groupdata

In [85]:
gender_groupdata.count()

                       Players   SN  Age  Item ID  Item Name  Price
Gender
Female                     113  113  113      113        113    113
Male                       652  652  652      652        652    652
Other / Non-Disclosed       15   15   15       15         15     15

In [86]:
male__price_data = purchase_data.loc[(purchase_data["Gender"] == "Male"),:]
male__price_data.head()
female__price_data = purchase_data.loc[(purchase_data["Gender"] == "Female"),:]
female__price_data.head()
other__price_data = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed"),:]
other__price_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [87]:
male_price_count = (male__price_data[["Price"]].count()).sum()
male_price_sum = (male__price_data[["Price"]].sum()).sum()
male_price_ave = ((male__price_data[["Price"]].mean()).sum()).round(2)
#
female_price_count = (female__price_data[["Price"]].count()).sum()
female_price_sum = (female__price_data[["Price"]].sum()).sum()
female_price_ave = ((female__price_data[["Price"]].mean()).sum()).round(2)
#
other_price_count = (other__price_data[["Price"]].count()).sum()
other_price_sum = (other__price_data[["Price"]].sum()).sum()
other_price_ave = ((other__price_data[["Price"]].mean()).sum()).round(2)
#
other_price_ave

3.35

In [88]:
#ANSWER 4**
new_gen_data = [{"Number of Players": male_price_count, "Total Money Spent": male_price_sum, "Average Price": male_price_ave},
               {"Number of Players": female_price_count, "Total Money Spent": female_price_sum, "Average Price": female_price_ave},
               {"Number of Players": other_price_count, "Total Money Spent": other_price_sum, "Average Price": other_price_ave}]
new_gen_data_df = pd.DataFrame(new_gen_data)
new_gen_data_df.index = ['Male','Female', 'Other / Non-Disclosed']
new_gen_data_df

                       Number of Players  Total Money Spent  Average Price
Male                                 652            1967.64           3.02
Female                               113             361.94           3.20
Other / Non-Disclosed                 15              50.19           3.35

## Age Demographics - QUESTION 5**

* DONE - Establish bins for ages


* DONE - Categorize the existing players using the age bins. Hint: use pd.cut()


* DONE - Calculate the numbers and percentages by age group


* DONE - Create a summary data frame to hold the results


* DONE - Optional: round the percentage column to two decimal points


* DONE - Display Age Demographics Table

In [89]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [90]:
pdata_bins = [0,10,20,30,40,50]
pdata_labels = ["Kid", "Teenager", "20's", "30's", "40's"]

pd.cut(purchase_data["Age"], pdata_bins, labels=pdata_labels)

0      Teenager
1          30's
2          20's
3          20's
4          20's
         ...
775        20's
776        20's
777    Teenager
778         Kid
779        20's
Name: Age, Length: 780, dtype: category
Categories (5, object): ['Kid' < 'Teenager' < '20's' < '30's' < '40's']

In [91]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], pdata_bins, labels=pdata_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Teenager
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30's
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20's
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20's
4,4,Iskosia90,23,Male,131,Fury,1.44,20's
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20's
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20's
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,Teenager
778,778,Sisur91,7,Male,92,Final Critic,4.19,Kid
779,779,Ennrian78,24,Male,50,Dawn,4.60,20's

In [92]:
grouped_pdata = purchase_data.groupby("Age Group")
grouped_pdata_count = grouped_pdata[["Purchase ID"]].count()
grouped_pdata_ave = (grouped_pdata[["Price"]].mean()).round(2)
grouped_pdata_total = (grouped_pdata[["Price"]].sum()).round(2)
#
grouped_pdata_count

           Purchase ID
Age Group
Kid                 32
Teenager           254
20's               402
30's                85
40's                 7

In [93]:
renamed_grouped_pdata_count = grouped_pdata_count.rename(columns={"Purchase ID":"Number of Players"})
renamed_grouped_pdata_count

kid_count = (purchase_data.loc[(purchase_data["Age Group"] == "Kid"), :]).count()
kid_count_total = kid_count.max()
teen_count = (purchase_data.loc[(purchase_data["Age Group"] == "Teenager"), :]).count()
teen_count_total = teen_count.max()
twenty_count = (purchase_data.loc[(purchase_data["Age Group"] == "20's"), :]).count()
twenty_count_total = twenty_count.max()
thirty_count = (purchase_data.loc[(purchase_data["Age Group"] == "30's"), :]).count()
thirty_count_total = thirty_count.max()
forty_count = (purchase_data.loc[(purchase_data["Age Group"] == "40's"), :]).count()
forty_count_total = forty_count.max()

kid_percent = kid_count_total / (renamed_grouped_pdata_count["Number of Players"].sum()) * 100
print(kid_percent.round(2))
teen_percent = teen_count_total / (renamed_grouped_pdata_count["Number of Players"].sum()) * 100
print(teen_percent.round(2))
twenty_percent = twenty_count_total / (renamed_grouped_pdata_count["Number of Players"].sum()) * 100
print(twenty_percent.round(2))
thirty_percent = thirty_count_total / (renamed_grouped_pdata_count["Number of Players"].sum()) * 100
print(thirty_percent.round(2))
forty_percent = forty_count_total / (renamed_grouped_pdata_count["Number of Players"].sum()) * 100
print(forty_percent.round(2))

4.1
32.56
51.54
10.9
0.9

In [94]:
#ANSWER 5**
renamed_grouped_pdata_count["Percent of Players"] = ([kid_percent.round(2),
            teen_percent.round(2),twenty_percent.round(2),thirty_percent.round(2),forty_percent.round(2)])
renamed_grouped_pdata_count

           Number of Players  Percent of Players
Age Group
Kid                       32                4.10
Teenager                 254               32.56
20's                     402               51.54
30's                      85               10.90
40's                       7                0.90

## Purchasing Analysis (Age) - QUESTION 6**

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [95]:
grouped_pdata_count["Total Spent"] = grouped_pdata_total
grouped_pdata_count["Average Price"] = grouped_pdata_ave
grouped_pdata_count

           Purchase ID  Total Spent  Average Price
Age Group
Kid                 32       108.96           3.40
Teenager           254       778.16           3.06
20's               402      1203.06           2.99
30's                85       268.06           3.15
40's                 7        21.53           3.08

In [96]:
#ANSWER 6**
grouped_pdata_count_rename = grouped_pdata_count.rename(columns={"Purchase ID":"Number of Purchases"})
grouped_pdata_count_rename

           Number of Purchases  Total Spent  Average Price
Age Group
Kid                         32       108.96           3.40
Teenager                   254       778.16           3.06
20's                       402      1203.06           2.99
30's                        85       268.06           3.15
40's                         7        21.53           3.08

## Top Spenders - QUESTION 7**

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Teenager
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30's
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20's
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20's
4,4,Iskosia90,23,Male,131,Fury,1.44,20's

In [98]:
grouped_sn_name = purchase_data.groupby("SN")
print(grouped_sn_name)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fbb7e5623a0>

In [99]:
group_sn_price = grouped_sn_name["Price"].sum()
group_sn_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [100]:
group_sn_df = pd.DataFrame(group_sn_price)
group_sn_df

               Price
SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
...              ...
Yathecal82      6.22
Yathedeu43      6.02
Yoishirrala98   4.58
Zhisrisu83      7.89
Zontibe81       8.03

[576 rows x 1 columns]

In [101]:
#ANSWER 7**
groupsort_sn_df = group_sn_df.sort_values("Price", ascending=False)

groupsortrename_sn_df = groupsort_sn_df.rename(columns={"Price":"Total Purchase"})

groupsortrename_sn_df

             Total Purchase
SN
Lisosia93             18.96
Idastidru52           15.45
Chamjask73            13.83
Iral74                13.62
Iskadarya95           13.10
...                     ...
Ililsasya43            1.02
Irilis75               1.02
Aidai61                1.01
Chanirra79             1.01
Alo38                  1.00

[576 rows x 1 columns]

## Most Popular Items - QUESTION 8**

* DONE - Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [102]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Teenager
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30's
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20's
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20's
4,4,Iskosia90,23,Male,131,Fury,1.44,20's
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20's
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20's
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,Teenager
778,778,Sisur91,7,Male,92,Final Critic,4.19,Kid
779,779,Ennrian78,24,Male,50,Dawn,4.60,20's

In [103]:
item_purchase_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_purchase_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [104]:
group_item_purchase_df = item_purchase_df.groupby(["Item ID","Item Name"])
print(group_item_purchase_df.count())
print(group_item_purchase_df.mean())
print(group_item_purchase_df.sum())

                                                      Price
Item ID Item Name
0       Splinter                                          4
1       Crucifer                                          4
2       Verdict                                           6
3       Phantomlight                                      6
4       Bloodlord's Fetish                                5
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm     12
179     Wolf, Promise of the Moonwalker                   6
181     Reaper's Toll                                     5
182     Toothpick                                         3
183     Dragon's Greatsword                               3

[179 rows x 1 columns]
                                                       Price
Item ID Item Name
0       Splinter                                      1.2800
1       Crucifer                                      2.9425
2       Verdict                                       2.4800
3       Phantomlight                                  2.4900
4       Bloodlord's Fetish                            1.7000
...                                                      ...
178     Oathbreaker, Last Hope of the Breaking Storm  4.2300
179     Wolf, Promise of the Moonwalker               4.4800
181     Reaper's Toll                                 1.6600
182     Toothpick                                     4.0300
183     Dragon's Greatsword                           1.0900

[179 rows x 1 columns]
                                                      Price
Item ID Item Name
0       Splinter                                       5.12
1       Crucifer                                      11.77
2       Verdict                                       14.88
3       Phantomlight                                  14.94
4       Bloodlord's Fetish                             8.50
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm  50.76
179     Wolf, Promise of the Moonwalker               26.88
181     Reaper's Toll                                  8.30
182     Toothpick                                     12.09
183     Dragon's Greatsword                            3.27

[179 rows x 1 columns]

In [107]:
new_item_purchase_df = item_purchase_df.groupby(["Item ID","Item Name"]).agg({'Price':['count','mean','sum']})
new_grp_df

#print(new_item_purchase_df.columns)
new_item_purchase_df

                                                     Price
                                                     count    mean    sum
Item ID Item Name
0       Splinter                                         4  1.2800   5.12
1       Crucifer                                         4  2.9425  11.77
2       Verdict                                          6  2.4800  14.88
3       Phantomlight                                     6  2.4900  14.94
4       Bloodlord's Fetish                               5  1.7000   8.50
...                                                    ...     ...    ...
178     Oathbreaker, Last Hope of the Breaking Storm    12  4.2300  50.76
179     Wolf, Promise of the Moonwalker                  6  4.4800  26.88
181     Reaper's Toll                                    5  1.6600   8.30
182     Toothpick                                        3  4.0300  12.09
183     Dragon's Greatsword                              3  1.0900   3.27

[179 rows x 3 columns]

In [126]:
new_item_purchase_df.columns = new_item_purchase_df.columns.map('_'.join)
new_item_purchase_df.reset_index()

,Item ID,Item Name,Price_count,Price_mean,Price_sum
0,0,Splinter,4,1.2800,5.12
1,1,Crucifer,4,2.9425,11.77
2,2,Verdict,6,2.4800,14.88
3,3,Phantomlight,6,2.4900,14.94
4,4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...,...
174,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
175,179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
176,181,Reaper's Toll,5,1.6600,8.30
177,182,Toothpick,3,4.0300,12.09
178,183,Dragon's Greatsword,3,1.0900,3.27

In [128]:
rename_new_item_purchase_df = new_item_purchase_df.rename(columns={"Price_count":"Purchase Count", 
                                                                   "Price_mean":"Average Amount", 
                                                                   "Price_sum":"Total Spent"})
rename_new_item_purchase_df

,,Purchase Count,Average Amount,Total Spent
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [131]:
#ANSWER 8**
rename_new_item_purchase_df = rename_new_item_purchase_df.sort_values("Purchase Count", ascending=False)
rename_new_item_purchase_df

,,Purchase Count,Average Amount,Total Spent
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
126,Exiled Mithril Longsword,1,2.000000,2.00
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

## Most Profitable Items - QUESTION 9**

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [133]:
#ANSWER 9**
rename_new_item_purchase_df = rename_new_item_purchase_df.sort_values("Total Spent", ascending=False)
rename_new_item_purchase_df.head()

,,Purchase Count,Average Amount,Total Spent
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [ ]:
#DONE!!!